<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>杭州&lt;--&gt;桐乡</key>
	<array>
		<dict>
			<key>线路</key>
			<string>南线</string>
			<key>路线</key>
			<string>展览馆北门→桐乡校区</string>
			<key>备注</key>
			<string>上班班车</string>
			<key>时间</key>
			<string>6:35</string>
			<key>具体路线</key>
			<string>展览馆北门(6:35)→浙一医院（6:42）庆春路大学路口(6:45)→采荷新村(6:48)→严家弄（6:55）→彭埠上高速→桐乡校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>西北线</string>
			<key>路线</key>
			<string>骆家庄→桐乡校区</string>
			<key>时间</key>
			<string>6:35</string>
			<key>备注</key>
			<string>上班班车</string>
			<key>具体路线</key>
			<string>骆家庄（6:35）→文一路古翠路口（翠苑三区西车站）（6:40）→绍兴路上塘高架口（6:50）→留石高架（沪杭高速）→桐乡校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>南线</string>
			<key>路线</key>
			<string>桐乡校区→展览馆北门</string>
			<key>备注</key>
			<string>下班班车</string>
			<key>时间</key>
			<string>16:10</string>
			<key>具体路线</key>
			<string>桐乡校区→严家弄→采荷新村→浙一医院、庆春路大学路口→展览馆北门</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>西北线</string>
			<key>路线</key>
			<string>桐乡校区→骆家庄</string>
			<key>备注</key>
			<string>下班班车</string>
			<key>时间</key>
			<string>16:10</string>
			<key>具体路线</key>
			<string>桐乡校区→留石高架（沪杭高速）→绍兴路上塘高架口→文一路古翠路口（翠苑三区西车站）→骆家庄</string>
		</dict>
	</array>
	<key>杭州&lt;--&gt;下沙</key>
	<array>
		<dict>
			<key>线路</key>
			<string>南线</string>
			<key>路线</key>
			<string>菩提寺路口→下沙校区</string>
			<key>备注</key>
			<string>上班班车</string>
			<key>时间</key>
			<string>7:00</string>
			<key>具体路线</key>
			<string>普提寺路口(7:00)→建国路加油站(7:05)→大学路口(7:08)→采荷新村(7:10)→严家弄(7:15)→下沙校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>西线</string>
			<key>路线</key>
			<string>康乐新村→下沙校区</string>
			<key>备注</key>
			<string>上班班车</string>
			<key>时间</key>
			<string>6:45</string>
			<key>具体路线</key>
			<string>康乐新村（6:45）→骆家庄（6:48）→雅仕苑（6:50）→同德医院（6:53）→文二路（国家安全厅）（6:55）→下沙校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>北线</string>
			<key>路线</key>
			<string>拱宸桥→下沙校区</string>
			<key>备注</key>
			<string>上班班车</string>
			<key>时间</key>
			<string>6:40</string>
			<key>具体路线</key>
			<string>拱宸桥(6:40)→建工医院（6:55）→工大上塘路口（6:58）→德胜新村（7:00）→香吉公寓（7:05）→市档案馆（7:08）→下沙校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>南线</string>
			<key>路线</key>
			<string>下沙校区→菩提寺路口</string>
			<key>备注</key>
			<string>下班班车</string>
			<key>时间</key>
			<string>16:20</string>
			<key>具体路线</key>
			<string>下沙校区→严家弄→采荷新村→大学路口→建国路加油站→普提寺路口</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>西线</string>
			<key>路线</key>
			<string>下沙校区→文一路古翠路口</string>
			<key>备注</key>
			<string>下班班车</string>
			<key>时间</key>
			<string>16:20</string>
			<key>具体路线</key>
			<string>下沙校区→文三路教工路口→万塘路口→古荡新村→康乐新村→骆家庄→雅仕苑→文一路古翠路口</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>北线</string>
			<key>路线</key>
			<string>下沙校区→拱宸桥</string>
			<key>备注</key>
			<string>下班班车</string>
			<key>时间</key>
			<string>16:20</string>
			<key>具体路线</key>
			<string>下沙校区→市档案馆→香吉公寓→德胜新村→长板巷→建工医院→拱宸桥</string>
		</dict>
	</array>
	<key>下沙&lt;--&gt;桐乡</key>
	<array>
		<dict>
			<key>线路</key>
			<string>下沙线</string>
			<key>路线</key>
			<string>下沙校区→桐乡校区</string>
			<key>备注</key>
			<string>中午班车</string>
			<key>时间</key>
			<string>12:10</string>
			<key>具体路线</key>
			<string>下沙校区（6:45）——5号大街（物美超市东）（6:47）——下沙高教文津站（清雅苑）（6:50）——6号大街27号大街公交站（6:55）——桐乡校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>下沙线</string>
			<key>路线</key>
			<string>桐乡校区→下沙校区</string>
			<key>备注</key>
			<string>中午班车</string>
			<key>时间</key>
			<string>12:10</string>
			<key>具体路线</key>
			<string>桐乡校区→下沙校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>下沙线</string>
			<key>路线</key>
			<string>下沙校区→桐乡校区</string>
			<key>备注</key>
			<string>晚上班车</string>
			<key>时间</key>
			<string>18:00</string>
			<key>具体路线</key>
			<string>下沙校区→桐乡校区</string>
		</dict>
		<dict>
			<key>线路</key>
			<string>下沙线</string>
			<key>路线</key>
			<string>桐乡校区→武林门</string>
			<key>备注</key>
			<string>晚上班车</string>
			<key>时间</key>
			<string>18:30</string>
			<key>具体路线</key>
			<string>桐乡校区（18:30发车）→下沙校区→武林门</string>
		</dict>
	</array>
</dict>
</plist>
